.bgImage {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.345), rgba(0, 0, 0, 0.729)), url('/home/certificate.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}