.swiperCertificate {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 640px) {
  .swiperCertificate {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.swiperCertificate .swiper-slide {
  width: 320px;
  height: 320px;
}

@media (max-width: 640px) {
  .swiperCertificate .swiper-slide {
    width: 224px;
    height: 224px;
  }
}