.testimonialStyle {
  width:  100%;
  height: auto;
}

.testimonialStyle .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.testimonialStyle .swiper-slide img {
  display: block;
  width: 320px;
  height: 100%;
  object-fit: cover;
}