.swiperHome {
  width: 384px;
  height: auto;
}

.swiperHome .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiperHome .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.message {
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
  height: auto;
  align-items: center;
  animation: slide-left 25s linear infinite;
  white-space: nowrap;
}

.message p {
  font-size: 1rem;
  font-weight: 200;
  padding-left: 0.5em;
}

@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
